:root {
--primary-color: darkslategrey;
--secondary-color: gainsboro;
--accent1-color: #264653;
--body-font: 'Arial', Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, main, footer {
  width: 840px;
  margin: 0 auto;
}

nav, p, section, article {
  margin: 16px;
  padding: 8px;
}

/* Header */
header {
  background-color: var(--primary-color);
  color: #ffffff;
  padding: 1rem 2rem;
}

/* Nav */
nav {
  display: flex;
  grid-template-columns: auto 150px;
  justify-content: flex-start;
  gap: 1.5rem;
  align-items: center;
  padding: 0 1rem;
}

.nav-logo {
  justify-self: end;
  width: 100px;
  height: auto;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;   
}

nav ul li a {
  color: #000;
  background-color: var(--secondary-color);
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-radius: 6px;
  white-space: nowrap;
}

body {
  font-family: var(--body-font);
  color: var(--accent1-color);
  font-size: 16px;
  background-color: #f4f4f4;
}

h1 {
position: relative;
top: 0px;
width: 100%;
padding: 16px;
text-align: center;
opacity: 0.7;
background-color: var(--accent1-color);
color: #fff;
}

h2 {
  font-family: var(--body-font);
  color: var(--primary-color);
}

/* Hero */
.hero {
  position: relative;
  text-align: center;
  color: var(--accent1-color);
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
}

.hero h1 {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: auto;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 16px;
  opacity: 0.9;
  border-radius: 8px;
  text-align: center;
}

.hero article {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1rem;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  color: #333;
}

.hero .overlay > p {
  font-size: 1.1rem;
  font-weight: 400;
  color: #1f8cccd9;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.6);
  margin-top: 0.5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Article */
.info-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 1rem;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  color: #333;
  text-align: left;
}

.hero article img {
  float: right;
  width: 125px;
  height: auto;
  margin-left: 1rem;
  border-radius: 8px;
}

.info-box p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
}


/* Section */
.history-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1.5rem;
  align-items: center;
}

.history-grid p {
  text-align: justify;
  line-height: 1.6;
}

.history-img {
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

section {
  padding: 2rem;
  margin: 1rem auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

section h2 {
  color: #004466;
  margin-bottom: 0.5rem;
}

section p {
  color: #333;
  line-height: 1.6;
}

.adventure-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* cinco columnas iguales */
  gap: 1rem;
  margin-top: 1rem;
}

.adventure-grid figure {
  text-align: center;
}

.adventure-grid img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.adventure-grid figcaption {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #333;
}

footer {
  margin-top: 1rem;
  border-top: 1px solid #000;
  text-align: center;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
}

footer p {
  text-align: center;
  margin: 0;
  grid-column: 1 / 2;
  padding-left: 18%;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.socialmedia img {
  width: 32px;
  height: auto;
}