main {
    max-width: 840px;
    margin: 2rem auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-box {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #eee;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.profile-box img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.profile-box p {
  flex: 1;
  color: #333;
  line-height: 1.6;
  margin: 0;
}

aside {
  max-width: 20rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

aside h2 {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #222;
}

aside img {
  width: 300px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

aside p {
  font-size: 0.95rem;
  line-height: 1.5;
  text-align: justify;
}

p { padding: 0;}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}