* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Quicksand, Arial, Helvetica, sans-serif;
}

nav {
    background-color: lightgrey;
    padding: 10px;
}

nav a {
    color: black;
    padding: 8px;
    display: block;    
}

main {
    max-width: 840px;
    margin: 2rem auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 2px;
    box-shadow: 0 0 30px #333;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
  margin: 1rem;
  padding: 0;
}


aside {
  max-width: 20rem;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #eee;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

aside h2 {
  position: absolute;
  top: 35px;
  left: 65px;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  color: #000000;
}

aside img {
  width: 200px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

aside p {
  font-size: 0.95rem;
  line-height: 1.5;
  text-align: justify;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
  clear: right;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, .1);
  padding: 1.5rem;
  background-color: #eee;
  color: #000;
}

.indent {
  padding-left: 1rem;
}